body {
	width: 100%;
	height: 100vh;
	margin: 0;
}

.banner {
	width: 100%;
	height: 100%;
	background-image: url('./bg.png');
	background-position: 0 0;
	background-size: contain;
	animation: animated-pattern 15s linear infinite;
}

@keyframes animated-pattern {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 800px 600px;
	}
}
