* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	width: 100%;
	height: 100vh;
	font-family: sans-serif;
	justify-content: center;
	align-items: center;
	background-color: #222;
}

.menu {
	display: flex;
	gap: 6px;
}

.menu .user {
	display: flex;
	position: relative;
	background-color: #fff;
	height: 70px;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	padding: 10px;
	gap: 10px;
}

.menu .imageBox {
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 6px;
	overflow: hidden;
}

.imageBox img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.menu .user .details {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.menu .user .details h2 {
	font-weight: 600;
	line-height: 1.1em;
}

.menu .user .details P {
	font-weight: 500;
	font-size: 0.8em;
	color: rgba(0, 0, 0, 0.6);
}

.navigation {
	display: flex;
	position: relative;
	width: 40px;
	height: 70px;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: 10px;
	transition: 0.5s;
	cursor: pointer;
}

.navigation span {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 6px;
	height: 6px;
	line-height: 5px;
	background-color: #222;
	border-radius: 50%;
	transition: all 0.5s;
}

.navigation span:nth-child(1) {
	transform: translateY(-12px);
}

.navigation span:nth-child(3) {
	transform: translateY(12px);
}

.navigation.active {
	width: 200px;
}

.navigation.active span {
	width: 50px;
	height: 50px;
	transition: all 0.5s;
}

.navigation.active span:nth-child(1) {
	transform: translateX(-60px);
}

.navigation.active span:nth-child(3) {
	transform: translateX(60px);
}

.navigation span a {
	font-size: 0em;
}

.navigation.active a {
	font-size: 1.25em;
	color: #fff;
}

.navigation.active span:hover {
	background-color: #273c75;
}
