body {
	background-color: #192a56;
	font-family: sans-serif;
}

.container {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	font-size: 45px;
	text-transform: uppercase;
	z-index: 1;
	margin: 0;
	transform: translate(-50%, -50%);
}

.box {
	position: absolute;
	width: 10px;
	height: 10px;
	top: 80%;
	left: 45%;
	border: 1px solid #003298;
	animation: boxes 12s ease-in infinite;
	transform: scale(0);
}

.box:nth-child(2) {
	top: 40%;
	left: 25%;
	border-color: red;
	animation-delay: 2s;
}

.box:nth-child(3) {
	top: 50%;
	left: 75%;
	border-color: yellow;
	animation-delay: 4s;
}

.box:nth-child(4) {
	top: 10%;
	left: 90%;
	animation-delay: 8s;
	border-color: pink;
}

.box:nth-child(5) {
	top: 95%;
	left: 10%;
	animation-delay: 10s;
	border-color: yellowgreen;
}

.box:nth-child(6) {
	top: 10%;
	left: 50%;
	border-color: green;
	animation-delay: 1s;
}

@keyframes boxes {
	0% {
		transform: scale(0) rotate(0);
		opacity: 1;
	}

	100% {
		transform: scale(20) rotate(960deg);
		opacity: 0;
	}
}
