body {
	padding: 0;
	margin: 0;
}

.background {
	height: 100vh;
	background: url('./bg.jpg');
	background-position: bottom left;
	animation: driving 10s linear infinite;
}

.car {
	position: absolute;
	width: 200px;
	left: 300px;
	bottom: -50px;
}

.motorbike {
	position: absolute;
	width: 150px;
	left: 700px;
	bottom: 55px;
}

@keyframes driving {
	from {
		background-position: bottom left;
	}
	to {
		background-position: bottom right;
	}
}
