body {
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	background-color: #09161d;
	padding: 0;
	margin: 0;
}

.card {
	position: relative;
	width: 320px;
	height: 420px;
	background-color: #122936;
	border-radius: 20px;
	overflow: hidden;
	z-index: 0;
}

.card::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: -50%;
	background-color: #219bf3;
	transform: skewY(-15deg);
	transition: all 0.5s;
	z-index: 1;
}

.card:hover::before {
	top: -70%;
	transform: skewY(30deg);
}

.imgBox {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	z-index: 2;
}

.card img {
	max-width: 100%;
}

.card:hover img {
	width: 50%;
}

.content {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	padding: 20px;
	flex-direction: column;
}

h2 {
	margin-bottom: 5px;
}

h3 {
	font-size: 18px;
	color: #fff;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0;
	margin-top: 10px;
}

.price {
	font-size: 24px;
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.buy {
	position: relative;
	padding: 10px 30px;
	margin-top: 15px;
	color: #fff;
	text-decoration: none;
	border-radius: 30px;
	background-color: #219bf3;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: all 0.3s;
	opacity: 0;
	top: 200px;
}

.card:hover .buy {
	opacity: 1;
	top: 0px;
}
