body {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	perspective: 1000px;
}

div {
	display: flex;
	width: 600px;
	height: 450px;
	justify-content: center;
	align-items: center;
	font-size: 200px;
	font-family: sans-serif;
	background-color: rgb(200, 255, 0);
}

div:hover {
	/* transform: translateZ(300px); */
	transform: rotateZ(120deg);
	transform: rotateX(120deg);
	transform: rotateY(120deg);
}
