@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(45deg, #8460ed, #ff1252);
}

.container {
	width: 270px;
	height: 270px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.toggle {
	width: 70px;
	height: 70px;
	background: #fff;
	border-radius: 50%;
	color: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	cursor: pointer;
	z-index: 20;
	transition: 0.3s;
}

.container.active .toggle {
	transform: rotate(45deg);
}

.container .menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.menu li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transform: rotate(calc(360deg / 6 * var(--i)));
}

.menu li a {
	width: 55px;
	height: 55px;
	color: #222;
	background: #fff;
	border-radius: 50%;
	font-size: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: visible;
	transition: 0.3s;
}

.container.active .menu li a {
	top: 0;
	transform: translate(-50%, -50%) rotate(calc(-360deg / 6 * var(--i)));
}
